/Discount.Calculator/.vs/Discount.Calculator/v16/.suo
/Discount.Calculator/.vs/Discount.Calculator/v16/TestStore/0/000.testlog
/Discount.Calculator/.vs/Discount.Calculator/v16/TestStore/0/testlog.manifest
/Discount.Calculator/packages/
